


.editor-block-list__block,
.editor-block-list__block p {background-color:#ffffff; color:#000000; font-size:15px;}
.editor-block-list__block h1,
.editor-block-list__block h2,
.editor-block-list__block h3,
.editor-block-list__block h4,
.editor-block-list__block h5,
.editor-block-list__block h6 {color:#11202a;}
.editor-post-title__block textarea {color:#e4e6f0; background-color:#f8f8f8;}
.editor-block-list__block a,
.editor-block-list__block strong,
.editor-block-list__block b,
.editor-block-list__block b a,
.editor-block-list__block strong a {color:#c74db3;}
