/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */
#top #header .av-main-nav > li {font-family: hind, sans-serif;}
#top #header .av-main-nav > li > a{font-family: hind, sans-serif;}
li.cart_dropdown_first {
    display: none;
}
div#tab-description iframe {
    height: auto;
}
.wdr_table_content_advance_con {
    text-align: center;
}
.product .plus {
    float: right !important;
    border: 0px !important;
}
.product .minus {
    float: left !important;
}
.product .quantity {
    text-align: center;
}
.product .input-text {
    border: 0px !important;
}
.ivole-voting-cont {
    display: none !important;
}
section#pages-2 h3.widgettitle {
    display: none;
}
.woocommerce-cart-form th, .woocommerce-cart-form td, .woocommerce-cart-form .responsive table.shop_table {
border: 0px;
}
table.shop_table th {
    padding: 13px 12px !important;
    text-align: left;
}
.cart-collaterals span.woocommerce-Price-amount.amount, .woocommerce-cart-form span.woocommerce-Price-amount.amount, tr.woocommerce-shipping-totals.shipping td, p.woocommerce-shipping-destination {
    font-size: 13px;
}
p.shipping-method-description {
    font-size: 14px;
}
.zoom-social_icons-list__item {
    margin: 5px 0px 8px;
}
#top .cart_dropdown_link > span:before {
    font-family: 'instant1';
}
.cart_dropdown_first [data-av_iconfont="entypo-fontello"]::before {
    content: '\E812';
}
label {
    font-family: inherit;
    font-weight: 500 !important;
    padding-bottom: 5px;
}
.woocommerce-tabs.wc-tabs-wrapper {
    display: none;
}
#accordion-container {
    border-top: 1px solid #111;
    display: block;
    width: 108%;
margin-left: -4%;
}
.accordion-item {
    border-bottom: 1px solid #111 !important;
}
.accordion-header h1 {
    float: none;
    font-size: 16px;
    margin: 0;
    line-height: 2.4em;
    display: block;
    padding-bottom: 2px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: bold !important;
}
.accordion-item {
    background-color: #efefef;
}
.accordion-content {
    background-color: #efefef;
    padding: 0px 30px 30px;
}
.yikes-custom-woo-tab-title.yikes-custom-woo-tab-title-ingredients {
    display: none;
}
.comment-text {
    background-color: #efefef !important;
}
#tab-description {
    border: 0px solid #111 !important;
}
.template-shop .product_meta {
clear: both;
font-size: 13px;
position: relative;
text-align: center;
line-height: normal;
padding-top: 20px;
padding-bottom: 10px;
display: block;
}
.responsive .container {
    max-width: 100% !important;
}
#top form.cart .button {
    margin-top: 51px;
    margin-bottom: 9px;
    display: block;
float: none;
}
p {
    line-height: normal;
}
.container.av-logo-container {
    padding: 0px 90px;
}
#header_meta {
    min-height: 35px;
}
.av_secondary_right .sub_menu {
    padding-left: 10px;
    padding-top: 2px;
}
.av_minimal_header #header_meta {
border-bottom: 1px solid #f0f0f0;
}
.header-scrolled div#header_main {
    display: none;
}
div#header_main {
    height: 80px;
    line-height: 80px;
}
#top #header_main > .container, #top #header_main > .container .main_menu .av-main-nav > li > a, #top #header_main #menu-item-shop .cart_dropdown_link {
    height: 80px !important;
    line-height: 80px;
}
.main_menu {
    position: inherit;
    right: -9% !important;
}
.sub_menu li {
    border: 0px;
    padding: 0 6px;
}
div#header_meta .container {
    padding: 0px 90px;
    min-height: 35px;
}
.content, .sidebar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.av_minimal_header #header_main .container, .av_minimal_header .main_menu ul:first-child > li a {
    height: 60px;
    line-height: 60px;
}
.cart_dropdown {
top: 79px;
}
@media only screen and (max-width: 989px) {
.responsive #top #wrap_all .container {
    width: 90%;
    max-width: 90%;
}
.wcppec-checkout-buttons__separator {
    padding-top: 33px;
}
#my-account-menu {
    width: 25% !important;
}
#my-account-content {
    float: left;
    width: 70%;
}
#top .sub_menu>ul {
    float: left;
    margin-top: -3px;
    margin-bottom: -3px;
}
li#menu-item-1595 a {
    padding-bottom: 10px;
}
#top .sub_menu li ul {
margin-top: 3px !important;
}
.responsive #main .container_wrap:first-child {
    border-top: none;
    padding-top: 0px !important;
}
.responsive #top #header_main > .container .main_menu .av-main-nav > li > a, .responsive #top #wrap_all .av-logo-container {
    height: 80px !important;
    line-height: 0px;
}
li.cart_dropdown_first {
    display: block;
}}
.html_visible_cart .av-burger-menu-main {
    padding-right: 0px;
}
#header_meta .container {
    min-height: 30px;
}
ul#avia2-menu a {
    color: white;
    letter-spacing: 0.1px;
    text-decoration: none;
    font-size: 11px;
    text-transform: capitalize;
    font-family: sans-serif !important;
    padding-top: 0px;
}
.header-scrolled-full #header_main_alternate .main_menu {
text-align: left;
}
.header-scrolled-full .container {
    padding: 0px;
}
.header-scrolled-full div#header_main {
background-color: #fff;
}
.header-scrolled-full .inner-container {
    display: block;
}
.html_header_top.html_header_sticky.html_header_unstick_top .header-scrolled-full#header {
    width: 60%;
    left: 20%;
margin-top: 0px !important;
height: 90px;
    position: fixed;
    line-height: 90px !important;
    height: 91px !important;
    border-bottom: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
-webkit-box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.16);
box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.16);
}
img.instant-beauty-logo { 
    max-height: 80px !important;
    right: 0px;
}
.header-scrolled img {
    max-height: 74px !important;
}
.header-scrolled-full ul.menu-item.cart_dropdown {
top: 55px;
    right: 13px;
}
.header-scrolled-full#header {
    margin-top: 0px !important;
}
.header-scrolled-full .cart_dropdown .dropdown_widget {
    top: 60px;
padding-top: 0px;
}
.header-scrolled-full .cart_dropdown .dropdown_widget .avia-arrow {
    top: -4px;
}
.header-scrolled-full .cart_dropdown {
border: 0px; 
}
.header-scrolled-full .cart_dropdown_link {
    background-color: transparent;
}
@media only screen and (max-width: 1150px) {
.header-scrolled-full span.avia-menu-text {
font-size: 14px;
}}
@media only screen and (max-width: 555px) {
div#layerslider_2 {
    height: 230px !important;
    top: 74px;
transform: scale(1.3);
RIGHT: -5px;
}}
#footer {
    padding: 0px;
    z-index: 1;
    width: 83%;
    left: 8.5%;
    margin-top: 50px;
}
span.zoom-social_icons-list__label:hover {
    color: #c74db3;
}
section#zoom-social-icons-widget-2, section#zoom-social-icons-widget-3, section#zoom-social-icons-widget-4 {
    border-bottom: 1px solid #111;
    width: 100%;
}
.zoom-social-icons-widget {
    margin: 13px 0px -1px 0 !important;
}
div#footer .container {
    padding: 0px;
}
span.zoom-social_icons-list__label {
font-weight: 600;
font-size: 13px;
letter-spacing: 1.4px;
padding-left: 12px !important;
}
div .av_one_third {
    margin-left: 0%;
    width: 33.333333%;
}
.avia_ajax_form .first_form {
     clear: none!important; 
}
.modified_width .button {
    margin-top: 32px;
}
div#av_product_description {
    height: 400px !important;
}
.woocommerce-page .av-section-color-overlay-wrap {
    height: 400px;
}
.av-parallax-inner.av-parallax-woo {
    background-position: 50% 36% !important;
}
h3.widgettitle {
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 21px !important;
    letter-spacing: .2em !important;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    color: black;
    font-family: inherit !important;
}
html #top .all_colors .widgettitle {
    border-width: 0px !important;
}
#top .av-mailchimp-widget .button {
    margin-top: 12px;
    width: 100%;
    text-transform: uppercase;
    margin-right: -91px;
    display: block;
}
input#avia_0_1 {
    font: inherit !important;
}
input.button {
    font: inherit !important;
}
section#zoom-social-icons-widget-5 li.zoom-social_icons-list__item {
    margin: 0px;
}
section#zoom-social-icons-widget-5 {
    padding-top: 17px !important;
}
ul.zoom-social-icons-list.zoom-social-icons-list--without-canvas.zoom-social-icons-list--rounded.zoom-social-icons-list--align-left.zoom-social-icons-list--no-labels {
    padding: 0px !important;
}
.header-scrolled-full span.avia-menu-text {
    font-size: 12px !important;
    margin-left: -5px;
    letter-spacing: 1px !important;
    padding-left: 0px !important;
}
.av-main-nav ul {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    padding-top: 7px;
}
#header #header_main_alternate .container {
    max-height: none;
    height: 56px;
}
.header-scrolled .av-main-nav ul {
padding-top: 40px;
}
.header-scrolled-full .av-main-nav ul {
    padding-top: 2px !important;
}
#socket .copyright {
    float: none;
    text-align: center !important;
}
#socket .container {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
#top .header_color .main_menu .menu ul li>a:hover {
    color: #c74db3;
}
input.button:hover {
    background-color: #c74db3 !important;
}
div#header_meta {
    background-color: black;
}
.header-scrolled-full div#header_meta {
    background-color: #000;
}
#top .av-main-nav ul a {
    font-weight: 800 !important;
    font-size: 16px;
    letter-spacing: 2px !important;
}
#top #header .avia_mega_div > .sub-menu > li > ul > li a { 
    font-weight: 500 !important;
    font-size: 14px;
    letter-spacing: 0px !important;
padding: 0px;
}
input#avia_0_1 {
    border-color: black !important;
}
#top input[type="text"] {
color: black !important;
}
h3.widgettitle {
    text-align: center;
}
#top fieldset {
    margin: 0px 0 0 0px !important;
}
.av-layout-grid-container {
    width: 92%;
    left: 4%;
}
.inner_product {
   border-width: 0px; 
}
#top #wrap_all .av-inherit-size .av-special-heading-tag {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
}
h2.woocommerce-loop-product__title {
    font-size: 15px !important;
    font-weight: 400 !important;
    letter-spacing: 0.5px !important;
    text-align: center;
    padding-top: 4px !important;
}
#top .inner_product_header {
    padding: 0px 0px 0px;
    clear: both;
    position: relative;
    border-top-style: solid;
    border-top-width: 0px;
    min-height: 85px;
}
.inner_product_header .avia-arrow {
    display: none;
}
.av-special-heading.av-special-heading-h3 h3.av-special-heading-tag:before {
    content: "";
    background: #000000;
    width: 4.3%;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 31%;
left: 36%;
}
.av-special-heading.av-special-heading-h3 h3.av-special-heading-tag:after {
content: "";
    background: #000000;
    width: 4.3%;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 31%;
    left: 59.5%;
}
.container {
width: 100% !important;
}
h2.woocommerce-loop-category__title mark.count {
    display: none;
}
#top .products .product-category {
    border-radius: 1px;
    border-style: solid;
    border-width: 0px;
}
.page-thumb img.category_thumb {
    width: 40%;
    float: none !important;
    padding-top: 50px;
}
.page-thumb {
    text-align: center;
}
#top .variations td {
    border: none;
    vertical-align: top;
    display: table-cell;
}
#top .variations_form > table {
    margin: 6px 0;
}
.attribute-swatch {
text-align: left;
}
#top .variations td.label {
    width: 100%;
    text-align: center;
}
span.trail-before a {
    text-align: left !important;
    float: left !important;
}
.stretch_full.container_wrap.alternate_color.dark_bg_color.empty_title.title_container {
    background-color: #fff;
    color: #000000 !important;
}
.alternate_color .breadcrumb, .alternate_color .breadcrumb a, #top .alternate_color.title_container .main-title, #top .alternate_color.title_container .main-title a {
    color: #000;
}
.title_container .breadcrumb {
font-size: 12px;
}
.title_container .breadcrumb {
    left: 72px;
    right: auto !important;
    top: 33px;
}
#top #reviews h2 {
font-size: 15px;
    letter-spacing: 1px;
    color: #111;
}
.thumbnail_container .rating_container {
    bottom: 12px;
    opacity: 0.8 !important;
    background: transparent;
    z-index: 101;
}
.related.products .products.columns-4 {

    padding-top: 20px;

}
.img-para {
    display: inline-flex;
    padding-top: 20px;
}
.avia_cart_buttons.single_button {
    opacity: 1;
}
.avia_cart_buttons {
    top: 0px;
}
div#footer .container {
    padding: 0px;
    border-top: 0px solid #cccccc;
}
h2.woocommerce-loop-category__title {
    text-align: center;
}
#header .avia_mega_div {
    left: -90%;
}
.header-scrolled .avia_mega_div {
    top: 178% !important;
}
.header-scrolled-full .avia_mega_div {
    top: 102% !important;
    opacity: 0.94 !important;
}
#top #header .avia_mega_div > .sub-menu > li > ul li {
    font-size: 13px !important;
    letter-spacing: 0px !important;
}
#top #header .avia_mega_div > .sub-menu > li > ul li {
    width: auto;
    float: none;
    display: block;
    border: none;
    padding: 3px 2px 2px 0px;
    font-weight: normal;
    height: auto;
    line-height: 23px;
    letter-spacing: 0px !important;
}
#top .header_color .main_menu .menu ul li>a:hover {
    color: #c74db3;
    background-color: transparent;
}
#header .mega_menu_title {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 600;
    display: block;
    color: #000;
letter-spacing: 1px;
    text-transform: uppercase;
}
#top #header .mega_menu_title a {
    margin-bottom: 8px;
    font-size: 14px !important;
    line-height: 1.1em;
    font-weight: 600;
    display: block;
    color: #000;
letter-spacing: 1px;
    text-transform: uppercase;
}
span.avia-bullet {
    display: none !important;
}
#header .nine.units {
    width: 810.25px !important;
}
label.wcvaswatchlabel {
    border: solid 0px white !important;
    outline: solid 0px #9C9999 !important;
}
.product-sorting {
    display: none !important;
}
.entry-summary .woocommerce-product-rating {
    top: -4px;
    position: relative;
}
.entry-summary .woocommerce-product-rating .woocommerce-review-link {
    position: relative;
    top: -4px;
    font-size: 11px;
}
span.breadcrumb-title {
    display: none;
}
a.trail-begin {
    display: none;
}
span.trail-end {
color: #929292; 
}
#top .price span {
    color: #000;
}
.breadcrumb-trail .trail-before, .breadcrumb-trail .trail-end, .breadcrumb-trail .sep, .breadcrumb-trail a, .breadcrumb-trail .bbp-breadcrumb-current {
    padding: 0px 2px;
}
#top .header_color .sub_menu ul li a:hover {
    color: white;
}
ul.sub-menu a:hover {
    color: #111 !important;
}
.alternate_color .breadcrumb, .alternate_color .breadcrumb a, #top .alternate_color.title_container .main-title, #top .alternate_color.title_container .main-title a {
    color: #929292;
}
#top .sub_menu li ul {
    top: 21px;
    }
#top .template-shop .container {
    max-width: 100% !important;
    width: 100% !important;
}
.woo-variation-gallery-pro .woo-variation-gallery-has-product-thumbnail .woo-variation-gallery-thumbnail-position-left .woo-variation-gallery-thumbnail-wrapper, .woo-variation-gallery-pro .woo-variation-gallery-has-product-thumbnail .woo-variation-gallery-thumbnail-position-right .woo-variation-gallery-thumbnail-wrapper {
    flex: 0 0 20%;
    max-width: 12% !important;
}
.single-product-main-image {
    margin-right: 0px !important;
    margin-top: -17px !important;
    height: 100% !important;
padding-bottom: 0px !important;
}
.woo-variation-gallery-slider-wrapper {
    top: 30px;
}
.woo-variation-gallery-pro .woo-variation-gallery-has-product-thumbnail .woo-variation-gallery-thumbnail-position-left .woo-variation-gallery-thumbnail-wrapper .woo-variation-gallery-thumbnail-slider>div, .woo-variation-gallery-pro .woo-variation-gallery-has-product-thumbnail .woo-variation-gallery-thumbnail-position-right .woo-variation-gallery-thumbnail-wrapper .woo-variation-gallery-thumbnail-slider>div {
    border: 1px solid #aaaaaa;
opacity: 1;
border-radius: 3px;
}
.wvg-gallery-thumbnail-image.current-thumbnail {
    border-color: #e1dbe0 !important;
box-shadow: 0px 4px 8px 0px rgba(9, 13, 39, 0.3);
}
.woo-variation-gallery-wrapper .wvg-gallery-thumbnail-image:hover {
    border-color: #e1dbe0 !important;
box-shadow: 0px 4px 8px 0px rgba(9, 13, 39, 0.3);
}
.woo-variation-gallery-pro .woo-variation-gallery-thumbnail-slider {
    transition: height .1s ease;
    width: 100% !important;
}
a.avia-post-nav.avia-post-prev.without-image {
    display: none;
}
.woo-variation-gallery-pro .woo-variation-gallery-has-product-thumbnail .woo-variation-gallery-thumbnail-position-left .woo-variation-gallery-slider-wrapper, .woo-variation-gallery-pro .woo-variation-gallery-has-product-thumbnail .woo-variation-gallery-thumbnail-position-right .woo-variation-gallery-slider-wrapper {
    flex: 0 0 calc(87% * 1 - var(--wvg-thumbnail-item-gap)) !important;
    max-width: calc(87% * 1 - var(--wvg-thumbnail-item-gap)) !important;
}
#top #wrap_all .all_colors h4 {
    font-size: 16px;
}
#top #header .avia_mega_div .sub-menu {
    overflow: visible;
}
#header.av_minimal_header .avia_mega_div {
    margin: 0;
    border-top-style: solid !important;
border-top-width: 2px !important;
    border-top-color: #c74db3;
}
.wvg-gallery-image.wvg-gallery-video-slider.slick-slide.slick-current.slick-active {
    height: 100%;
}
#sb_instagram .sb_instagram_header {
    padding-top: 19px !important;
}
#top .variations_form {
    border-style: solid;
    border-width: 0px !important;
    background-color: transparent;
    top: -2px;
padding: 0px;
}
.single-product-summary {
    padding-left: 0px !important;
}
a.reset_variations {
    margin-right: 12px;
    margin-bottom: -56px;
}
.woocommerce-page .button {
padding: 18px 15px 15px !important;
}
.single_variation_wrap {
    margin: -20px 0px 0px 0px !important;
}
.wcppec-checkout-buttons {
    text-align: center;
    margin: 0em 0;
    overflow: hidden;
}
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
padding-top: 12px !important;
}
th.woocommerce-product-attributes-item__label {
    display: none;
}
#reviews #comments ol.commentlist li .comment-text p {
    margin: 2px 0 4px;
    color: #000 !important;
}
div #reviews .star-rating {
    float: left !important;
    margin-top: 2px;
margin: 2px 9px 0px 0px;
}
h2.woocommerce-Reviews-title {
    width: 100%;
}
select#rating {
    float: left;
    width: 170px !important;
}
div#review_form_wrapper {
    margin-left: 0px;
}
p.comment-form-comment {
    margin-top: 37px !important;
}
.main_color #submit, .main_color input[type='submit'] {
    background-color: #000;
}
input#submit:hover {
    color: #c74db3;
}
span.woocommerce-review__dash:after {
    content: 'Verified purchase';
    color: #111;
font-size: 14px !important;
    font-weight: 400 !important;
    display: initial !important;
    padding-top: 5px;
padding-left: 2px;
}
.byuser span.woocommerce-review__dash:after {
    content: 'Verified purchase';
    color: #111;
    font-size: 14px !important;
    font-weight: 400 !important;
    display: initial !important;
    padding-top: 5px;
    padding-left: 2px;
}
time.woocommerce-review__published-date {
    display: none;
}
.flex_cell {
    display: table-cell;
    padding: 14px 2px 0px 2px;
    vertical-align: top;
}
.avia-video-4-3 {
    padding-bottom: 177%;
    height: 0;
    margin-bottom: 0px !important;
}
#menu-item-shop.cart_dropdown {
    float: none;
    right: 85px;
    top: 1px;
}
#menu-item-shop .cart_dropdown_link {
    padding: 0px;
    float: right;
}
.html_header_top #menu-item-shop.cart_dropdown {
    border: none;
}
.phone-info.with_nav {
     color: white;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 0px;
    font-weight: 400;
}
.inner_product_header_table h2.woocommerce-loop-product__title {
    width: 100%;
}
 .main_color div .avia_cart_buttons {
    border-color: transparent !important;
opacity: 1;
}
#top .main_color .avia_cart_buttons .button {
    color: #fff;
}
.avia_cart_buttons {
padding: 0px;
}
#sb_instagram #sbi_load, #sb_instagram .sb_instagram_error {
    margin-top: 16px;
}
#top .avia_cart_buttons .button:hover {
    background: #2b252b;
    color: #fff !important;
}
#top .avia-post-nav {
    display: none;
}
.avia-section.avia-section-small {
    min-height: 0;
    background-color: #fff !important;
}
section.related.products h2 {
    color: #000 !important;
}
div#after_submenu_2 .container .av-content-full.units {
    width: 88%;
    left: 6%;
}
label.attribute_choose-colour_Seduce.selectedswatch.wcvasquare {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/seducet.jpg) !important;
}
label.attribute_choose-colour_Seduce.wcvasquare.wcvaswatchlabel {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/seducet.jpg) !important;
}
label.attribute_choose-colour_Passion.wcvasquare.wcvaswatchlabel {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/passionn.jpg) !important;
}
label.attribute_choose-colour_Passion.selectedswatch.wcvasquare {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/passionn.jpg) !important;
}
label.attribute_choose-colour_Nude.Wonder.wcvasquare.wcvaswatchlabel {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/nude-wonder1.jpg) !important;
}
label.attribute_choose-colour_Nude.Wonder.selectedswatch.wcvasquare {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/nude-wonder1.jpg) !important;
}
label.attribute_choose-colour_Lust.wcvasquare.wcvaswatchlabel {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/lust1.jpg) !important;
}
label.attribute_choose-colour_Lust.selectedswatch.wcvasquare {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/lust1.jpg) !important;
}
label.attribute_choose-colour_Illuminate.wcvasquare.wcvaswatchlabel {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/Untitleds-t.jpg) !important;
}
label.attribute_choose-colour_Illuminate.selectedswatch.wcvasquare {
    width: 136px !important;
    background-image: url(https://instantbeauty.eu/wp-content/uploads/2019/05/Untitleds-t.jpg) !important;
}
.avia_cart_buttons.single_button [data-av_icon]:before {
    content: "";
}
a.button.product_type_variable.add_to_cart_button {
    text-transform: uppercase;
}
#top .avia_cart_buttons .button {
    width: 50%;
}
span.button-mini-delimiter {
    display: none;
}
.post-951 a.button.product_type_simple {
    display: none;
}
.post-951 a.button.show_details_button {
    width: 100% !important;
}
a.button.show_details_button [data-av_icon]:before {
    content: "";
}
#top .main_color .quantity input.plus, #top .main_color .quantity input.minus {
    background-color: white;
    color: black;
    border-color: #e1e1e1;
}
div .main_color .button {
    background-color: black;
    color: #ffffff;
    border-color: #703464;
    text-transform: uppercase;
}
#top .price, #top .price span, #top del, #top ins {
    font-weight: 500;
font-size: 19px;
}
.quantity input.plus, .quantity input.minus {
width: 69px;
    background-image: none !important;
}
div.variations_button .button {
    margin: 0;
    min-width: 280px;
}
.woocommerce-product-details__short-description {
    margin-top: 6px;
}
.avia_cart_buttons {
    opacity: 1;
}
.reset_variations {
    height: 11px;
    line-height: 11px;
    font-size: 11px;
    position: absolute;
    right: 0;
    bottom: -19px;
}
.page-id-143 div .av_two_third {
   margin-left: 0%; 
    width: 66.66666666666666%;
}
p.live {
    font-weight: lighter;
    font-size: 37px;
    font-family: inherit;
    letter-spacing: -0.3px;
}
p.love {
    margin-top: -37px;
    font-size: 37px;
    font-family: inherit;
    letter-spacing: -0.3px;
}
#top #wrap_all .avia-slideshow-button, #top .avia-button, .html_elegant-blog .more-link, .avia-slideshow-arrows a:before {
   border-radius: 3px;
}
.owl-stage-outer.owl-height {
    min-height: 400px !important;
}
div#sample_slider_slide01 {
    height: 400px !important;
}
div#sample_slider_slide02 {
    height: 400px !important;
}
div#sample_slider_slide03 {
    height: 400px !important;
}
div#sample_slider_slide04 {
    height: 400px !important;
}div#sample_slider_slide04 {
    height: 400px !important;
}
div#sample_slider_slide05 {
    height: 400px !important;
}
.white {
    padding: 0px !important;
}
.custom-form {
    display: none;
}
@media only screen and (max-width: 989px) {
.responsive #header .sub_menu, .responsive #header_meta .sub_menu>ul {
    float: right;
    position: sticky;
    text-align: right;
}
.phone-info.with_nav {
    text-align: left;
    margin-left: 13px;
    font-size: 13px !important;
    margin-top: 3px;
}}
@media only screen and (max-width: 989px) {
.responsive .logo img {
    max-height: 60px;
}
.responsive .logo a {
    display: block;
}
.responsive #top .logo {
position: inherit !important;
display: inline-table;
width: auto !important;
    height: 80px !important;
    float: none;
    padding: 0;
    border: none;
z-index: 101;
left: 0px !important;
}
.responsive #top #wrap_all .main_menu {
    top: 0;
    height: 80px;
width: 100%;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    float: left;
}
.responsive #top .cart_dropdown {
    position: absolute;
    top: 0px;
    margin-top: 0px !important; 
    z-index: -1;
}
.main_menu {
    position: inherit;
    right: 4% !important;
}
.responsive #top #menu-item-shop.cart_dropdown {
    position: relative;
    float: right !important;
left: -11px !important;
}
.custom-form {
  position: absolute;
  left: 40;
  top: 50px;
display: block;
}
#top .header_color input[type='text'] {
    background-color: transparent !important;
}
input#searchsubmit {
    display: none;
}
#top #searchform>div {
    position: relative;
   max-width: 100%;
}
.ajax_search_response {
    background-color: #fff;
}
.custom-form input#s {
    font-family: inherit;
    font-size: 16px;
    left: 7px;
}
li#menu-item-search a {
    display: none;
}
#top #wrap_all .av-burger-overlay .av-burger-overlay-scroll #av-burger-menu-ul li a {
    color: black !important;
    font-weight: bold !important;
    letter-spacing: 1px;
}
ul#av-burger-menu-ul {
padding: 170px 0px 0px 0px !important;
vertical-align: initial !important;
}
#top #wrap_all #av-burger-menu-ul li {
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
a.cart_dropdown_link {
    font-size: 20px !important;
}
.responsive #header_meta .sub_menu>ul>li {
    float: none;
    display: inline-block;
       padding: 0 4px 0px 0px;
    margin-right: 13px;
top: 1px;
}
.header_color .av_ajax_search_title {
    color: black;
}
.responsive #top #wrap_all .av-flex-cells .no_margin {
    display: inline-block;
    height: 100% !important;
    overflow: hidden;
    padding-left: 0% !important;
    padding-right: 0% !important;
    width: 50% !important;
}
.value.woo-variation-items-wrapper {
    margin-top: 5px !important;
}
.av-layout-grid-container {
  width: 100% !important;
  left: 0% !important; 
}
.mejs-layer.mejs-overlay-play {
    height: 140% !important;
}
.mejs-overlay-button {
    background: url(https://instantbeauty.eu/wp-content/mejs-controls1.png) no-repeat;
    background-position: 0px -60px;
    height: 80px;
    width: 49px;
}
.avia-video.avia-video-4-3.avia-video-html5 {
    clear: both;
    position: relative;
}
.avia_transform .av-extra-border-element.border-extra-arrow-down {
    position: relative;
    width: 50px;
    height: 25px;
    left: 50%;
    margin-left: -26px;
    margin-top: 0px;
    z-index: 25;
    margin-bottom: -25px;
    clear: both;
    top: -25px;
}
.container_wrap {
    border-top-width: 1px;
}
.responsive #top #wrap_all .av-flex-cells .no_margin {
    display: inline-block;
    height: 100% !important;
    overflow: hidden;
    padding-left: 0% !important;
    padding-right: 0% !important;
    width: 50% !important;
    padding: 0px 0px 0px 0px!important;
}
form#searchform {
    background-color: #fff;
}
.responsive #top #main .products .product {
    margin: 0px 0 0px 0 !important;
    width: 25%;
}
.av-special-heading.av-special-heading-h3 h3.av-special-heading-tag:before {
    content: "";
    background: #000000;
    width: 4.3%;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 31%;
    left: 22%;
}
.av-special-heading.av-special-heading-h3 h3.av-special-heading-tag:after {
    content: "";
    background: #000000;
    width: 4.3%;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 31%;
    left: 72.5%;
}
.avia_cart_buttons {
    top: 0px;
    width: 90%;
    left: 5%;
}
h2.woocommerce-loop-product__title {
    font-size: 12px !important;
    font-weight: 400 !important;
}
.avia-product-slider1 .avia-content-slider-inner {
    height: 100% !important;
}
div#av-layout-grid-2 {
    width: 92% !important;
    left: 4% !important;
    display: inline-flex;
}
#footer {
    padding: 0px;
    z-index: 1;
  width: 100%;
   left: 0%;
    margin-top: 50px;
}
.av-mailchimp-widget.av-mailchimp-widget-style- {
    margin: 0px 50px !important;
}
#top fieldset {
   margin: 0px !important;
}
.avia_ajax_form .first_form {
    width: 80% !important;
    left: 11% !important;
}
p.form_element.first_form.form_element.form_fullwidth.av-last-visible-form-element.modified_width {
    width: 30% !important;
    left: 34% !important;
    top: -12px;
}
input#avia_0_1 {
    box-shadow: 0px 12px 51px 0 rgba(30,30,30,0.15);
    border: 0px solid !important;
}
#top .avia_ajax_form .text_input {
    width: 100%;
}
section#avia_mailchimp_widget-5 {
    display: none;
}
section#zoom-social-icons-widget-5 {
    display: none;
}
#top #footer .widget ul {
    float: none;
    text-align: left;
    padding-left: 20px;
}
div#footer div .av_one_third {
    margin-bottom: 0px !important;
    padding-top: 10px;
}
h3.widgettitle {
    text-align: left;
    padding-left: 20px !important;
    font-size: 16px !important;
    background-color: white !important;
}
section#pages-2 li {
    line-height: 1.8em;
    font-size: 15px;
    text-transform: capitalize;
    margin: 15px 0px 0px 0px;
}
section#pages-2 a {
    color: white !important;
}
section#pages-2 {
    background-color: black;
    padding-bottom: 20px !important;
}
.widget {
    padding: 0;
    margin: 0px !important;
    overflow: hidden;
}
.avia-builder-el-last section.av_textblock_section.av-desktop-hide.av-medium-hide {
    margin-top: -25px;
}
span.zoom-social_icons-list__label {
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 3.4px;
    padding-left: 12px !important;
}
.flex_column .widget .widgettitle, .content .widget .widgettitle {
    margin-top: 0em;
        text-align: center;
    padding-left: 0px !important;
}
.woo-variation-gallery-pro .woo-variation-gallery-thumbnail-slider {
    transition: height .1s ease;
}
.woo-variation-gallery-thumbnail-wrapper {
    top: 30px;
}
.single-product .template-shop {
    padding-top: 0px;
}
.single-product-main-image {
    height: 100% !important;
    padding-bottom: 15px !important;
}
.wcppec-checkout-buttons {
    margin: 0em 0;
    overflow: visible;
    float: left;
    width: 100%; 
    margin-left: 0px;
}}
.av-burger-overlay {
    position: fixed;
    width: 100%;
    top: 0px !important;
}
#top #wrap_all .av-burger-overlay-scroll {
    background-color: white !important;
}
@media only screen and (max-width: 422px) {
div.variations_button .button {
    margin: 0;
    min-width: 100px;
    float: left;
    margin-left: 0px;
}}
@media only screen and (max-width: 1101px) {
div.variations_button .button {
    margin: 0;
    min-width: 231px;
}}
@media only screen and (max-width: 989px) {
div.variations_button .button {
    margin: 0;
    min-width: 170px;
}
section#pages-2 {
    display: none;
}
li#menu-item-476 a {
    display: none;
}
li#wpmenucartli {
    display: none !important;
}
li#menu-item-1813 {
    display: none !important;
}
.single_variation_wrap {
    margin: -10px 0px 0px 0px !important;
}
.avia-menu.av-main-nav-wrap {
    left: -1px;
}
.custom-form {
border: 8px solid #f4f4f4;
    width: 79%;
left: 11%;
}
.av_secondary_right .sub_menu {
    padding-left: 0px;
    top: 6px;
   margin-left: 0px !important;
    left: 10px;
}
.responsive #header .sub_menu {
position: relative;
}}
@media only screen and (max-width: 767px) {
.custom-form {
border: 8px solid #f4f4f4;
    width: 100%;
left: 0%;
}
.responsive.html_mobile_menu_tablet #top #wrap_all #header {
    height: auto !important;
    margin-top: 0px;
}
.header-scrolled #header_meta {
    display: none;
}
.header-scrolled {
    margin-top: 0px !important;
}
.header-scrolled div#header_main {
    display: block;
}
.responsive .content .entry-content-wrapper {
    padding: 0px 10px;
}
#top .actions .button[name="update_cart"] {
    float: left;
    margin-right: 0;
}
#top div div.woocommerce-message a.button {
    text-decoration: none;
    width: 20%;
    min-width: 90px;
    text-align: center !important;
    float: left;
    top: 66px;
    left: 40%;
}
.responsive .shop_table .product-quantity {
    display: table-cell;
text-align: center;
}
.responsive table.shop_table .product-subtotal {
    display: table-cell;
}
tr.woocommerce-cart-form__cart-item.cart_item .quantity {
    width: 45px;
}
tr.woocommerce-cart-form__cart-item.cart_item input.minus {
    border: 0px solid #E1E1E1 !important;
}
tr.woocommerce-cart-form__cart-item.cart_item input.plus {
    border: 0px solid #E1E1E1 !important;
}
#top .sub_menu li ul {
margin-top: 3px !important;
    left: -63px !important;
    width: 148px !important;
}
#footer {
    width: 100% !important;
    left: 0% !important;
}
div#av-layout-grid-2 {
    width: 100% !important;
    left: 0% !important;
    display: inline-flex;
}
.container {
    width: 100% !important;
    padding: 0px !important;
}
h2.woocommerce-Reviews-title {
    width: 100%;
}
.sidebar_right .comment_container {
    padding-right: 1px;
}
div#av_product_description {
    height: 200px !important;
}
.wcppec-checkout-buttons.woo_pp_cart_buttons_div {
    width: 100%;
    margin-top: 0px;
}
.responsive #header .sub_menu, .responsive #header_meta .sub_menu>ul {
    float: right;
    position: relative;
    text-align: right;
    width: auto;
top: 1px;
    right: 6px;
}
.responsive .phone-info {
    width: auto;
    clear: none;
    float: left;
}
.responsive #top #menu-item-shop.cart_dropdown {
    left: -17px !important;
}}
@media only screen and (max-width: 543px) {
div.variations_button .button {
    margin: 0;
    min-width: 124px;
}
section#pages-2 {
    display: block;
}
h3.widgettitle {
    text-align: left;
    padding-left: 20px !important;
    font-size: 13px !important;
    background-color: white !important;
}
section#pages-2 a {
    font-size: 12px;
}}
@media only screen and (max-width: 475px) {
li#menu-item-1595 a {
    padding-bottom: 7px !important;
}
li#menu-item-478 a {
    display: none;
}
.av_secondary_right .sub_menu {
    padding-top: 0px;
}
.responsive #header .sub_menu, .responsive #header_meta .sub_menu>ul {
float: right;
    position: relative;
    text-align: right;
    width: 100%;
    top: 2px;
    right: 6px;
}
.single-product-summary {
    padding-left: 0px !important;
}
.container_wrap.container_wrap_first.main_color.fullsize.template-shop.shop_columns_4 {
    width: 96%;
    left: -4px !important;
    display: block;
}
.phone-info.with_nav {
    margin-top: -27px;
	}
@media only screen and (max-width: 389px) {
.wcppec-checkout-buttons__separator {
    padding-top: 0px !important;
}
.woocommerce-product-details__short-description {
    margin: 0px;
}
p.price {
    margin: 0px;
    margin-top: 0px;
}
.summary.entry-summary span.woocommerce-Price-amount.amount:after {
    font-size: 15px;
}
.attribute-swatch {
    padding-left: 0px;
padding-top: 10px;
}
div#powerTip {
    display: none !important;
}
div form.cart div.quantity {
    min-width: 45%;
margin: 0px 0% 0px 0;
}
div.variations_button .button {
    min-width: 100%;
    text-transform: none;
    font-size: 13px;
}
.entry-summary .woocommerce-product-rating .star-rating {
    float: none;
    margin-right: 8px;
    text-align: center !important;
    display: inline-block;
}
#top form.cart .button {
    margin-top: 0px;
    border-radius: 0px;
}
a.reset_variations {
    display: none;
}
.product iframe {
    float: none;
    padding-left: 0px;
}
.cart-collaterals .wcppec-checkout-buttons.woo_pp_cart_buttons_div {
    margin-top: -6px;
}}
div#rootcontainer {
    text-align: center;
}
.woocommerce-variation.single_variation {
    margin-top: -2px;
}
.av-burger-overlay-active #top #wrap_all .av-hamburger-inner, .av-burger-overlay-active #top #wrap_all .av-hamburger-inner::before, .av-burger-overlay-active #top #wrap_all .av-hamburger-inner::after, .html_av-overlay-side-classic #top div .av-burger-overlay li li .avia-bullet {
    background-color: #000 !important;
}
.html_av-overlay-side .av-burger-overlay-scroll {
    width: 100%;
}
article.post-entry.post-entry-type-page.post-entry-391 {
    width: 100%;
    margin-left: 0% !important;
    padding-top: 41px;
}
div#customer_login h2 {
    font-size: 18px;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}
#top form.login, #top form.register {
    padding: 22px 0px 0px 0px;
    margin: 0px;
    text-align: left;
    border-width: 0px;
}
form.woocommerce-form.woocommerce-form-login.login label {
    font-family: hind, sans-serif !important;
    font-weight: 500 !important;
    color: black;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 13px !important;
}
form.woocommerce-form.woocommerce-form-register.register label {
    font-family: hind, sans-serif !important;
    font-weight: 500 !important;
    color: black;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 13px !important;
}
form.woocommerce-form.woocommerce-form-login.login span.required {
    display: none;
}
form.woocommerce-form.woocommerce-form-register.register span.required {
    display: none;
}
.woocommerce .login .lost_password {
    margin: 0;
    position: relative;
    top: -36.2px;
    left: -2px;
    font-size: 12px;
    font-family: inherit;
float: right !important;
}
#top label span, #top legend span {
    font-weight: normal;
    font-size: 13px;
    color: black;
    font-family: inherit;
}
label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme span {
    margin-top: -18px !important;
    display: block;
    margin-left: 22px;
}
p.woocommerce-LostPassword.lost_password a {
    color: blue;
}
label.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
    margin-top: -2px;
    margin-left: 0px;
}
.woocommerce-privacy-policy-text p {
    color: black;
}
.woocommerce-privacy-policy-text {
    margin-top: -20px;
}
.u-column2.col-2 {
    float: right;
    width: 47%;
}
.u-column1.col-1 {
    width:47%;
    float: left;
}
div#customer_login {
    float: left;
    width: 100%;
}
#top .main_color .input-text {
    color: #343434 !important;
}
#top div form .form-row input.input-text {
    font-family: inherit;
}
p.login-txt {
    display: none;
}
div#logo-link img {
    max-width: 191px;
}
#logo-link {
    margin: 0px 0px;
}
button.woocommerce-button.button.woocommerce-form-login__submit {
    margin-top: 12px;
}
.u-column1.col-1 div#logo-link {
    display: none;
}
.main_color p {
    color: black;
}
.main_color .woocommerce-MyAccount-navigation-link.is-active a {
    color: black;
    font-weight: 600;
}
nav.woocommerce-MyAccount-navigation a {
    color: black;
}
.pst-head-wrap {
    background: transparent !important;
}
input.phoen_filter_messege {
    padding: 8px 28px !important;
    font-family: inherit !important;
}
.pst-user-list h3 {
    font-size: 13px !important;
}
.pst-user-panel-wrap .pst-user-panel {
    margin-top: 0px !important;
    margin-left: 17px !important;
}
.pst-user-panel .pnt-submit-new-ticket a {
    background: black !important;
    color: #fff;
    display: block;
    margin-top: 20px !important;
    padding: 8px 0px !important;
    text-transform: uppercase !important;
}
.pnt-submit-new-ticket {
    margin-right: -36px !important;
}
.pst-user-panel .pnt-submit-new-ticket a:hover {
    background: #c74db3 !important;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads {
    display: none;
}
header.woocommerce-Address-title.title h3 {
    font-size: 16px !important;
}
.user-image {
    display: none !important;
}
.user-info {
    float: left;
    width: 100%;
}
#my-account-menu .user-profile .username {
    text-align: left;
    margin-bottom: 10px;
}
span.logout {
    display: table-row;
}
#my-account-menu .user-profile .username {
    text-align: left !important;
    margin-bottom: 10px;
}
ul.woocommerce-error {
    border: none;
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px !important;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #ef110d;
}
#my-account-menu {
    float: left;
    width: 22% !important;
    box-sizing: border-box;
}
#my-account-menu.position-left {
    padding-right: 15px !important;
    margin-right: 7px !important;
}
.entry-content-wrapper li {
    margin-left: 0px;
    padding: 3px 0;
}
#top .form-row .required {
    font-weight: 400;
}
#top div.woocommerce-message {
    background-color: transparent;
    color: black;
    padding: 20px 20px !important;
    margin: 0px 0px 32px 0px;
    border: 0px solid #e0e0e0;
}
#my-account-menu .myaccount-menu:before {
    display: block !important;
    border-bottom: 1px solid #e0e0e0;
    padding: 36px 0 !important;
}
#my-account-menu .myaccount-menu {
    margin: 7px 0 !important;
}
.user-profile .user-info .logout a {
    padding: 2px 9px !important;
    font-size: 13px !important;
    text-transform: uppercase;
    border: 0;
}
.ul.sub-menu a {
    color: black !important;
}
#top div.woocommerce-error a.button, #top div.woocommerce-message a.button {
    background: black;
    border-radius: 2px;
}
#top .sub_menu li ul {
    display: none;
    position: absolute;
    width: 170px;
    padding: 0px;
    z-index: 101;
    box-shadow: 0 8px 15px rgba(0,0,0,0.01);
    left: -14%;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    top: 19px;
    margin-top: 4px;
}
li#menu-item-1559 a {
    padding-bottom: 17px;
}
#top .sub_menu li li a:hover {
    color: black !important;
    background-color: #f0f0f099 !important;
}
.coupon button.button {
    padding: 14px 0px !important;
}
.wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward {
    margin: 20px 0px !important;
    padding: 16px 0px !important;
    width: 100%;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons.woo_pp_cart_buttons_div {
    width: 100%;
    margin-left: 0px !important;
}
#top .sub_menu li li a {
border-top-style: solid;
}
.post-entry-391 .wp-block-button.aligncenter {
    text-align: center;
    display: inline-block;
}
section.avia_codeblock_section.avia_code_block_5 {
    padding-bottom: 50px;
}
.post-entry-391 div#layerslider_3 {
    top: -41px;
}
#top .avia_ajax_form .text_input {
    width: 100%;
    margin-bottom: 0;
    display: block;
    min-width: 50px;
    padding: 13px;
    border-radius: 2px;
    margin-left: 20px;
}
p.form_element input.button {
    padding: 12px 0px !important;
    font-size: 14px !important;
}
#my-account-menu .logout:hover a {
    color: #ffffff;
    background-color: #333333;
    text-decoration: none;
}
.main_color strong {
    color: black;
    font-family: hind, sans-serif !important;
    letter-spacing: -0.5px;
}
h2.av-special-heading-tag {
    text-transform: uppercase !important;
}
.sbi_follow_btn.sbi_custom a:hover {
    background: #000 !important;
}
.sbi_follow_btn.sbi_custom a {
    background: #c74db3 !important;
}
div#av_product_description {
    width: 100% !important;
    left: 0%;
}
.avia_cart_buttons.single_button {
    border: 0px solid;
}
a.button.show_details_button {
    margin: 0 auto !important;
}
input#avia_0_1 {
    margin: 0px !important;
}
input#avia_0_2 {
    margin: 0px !important;
}
section#avia_mailchimp_widget-5 h3.widgettitle {
    text-align: left;
}
section#avia_mailchimp_widget-5 {
    left: 25%;
}
p {
    margin: 0.6em 0;
    letter-spacing: -0.2px;
}
#footer {
    padding: 0px;
    z-index: 1;
    width: 91%;
    left: 4%;
    margin-top: 50px;
}
li#menu-item-1595 a {
    padding-bottom: 12px;
}
ul.sub-menu a {
    padding: 8px 18px !important;
}
.container_wrap {
  border-top-width: 1px;
}
.page-id-255 form input#avia_0_1 {
    box-shadow: 0px 12px 51px 0 rgba(30,30,30,0.15);
    border: 0px solid !important;
}
.page-id-255 form .av-last-visible-form-element {
    width: 20% !important;
    left: -20% !important;
    top: 45px;
}
.page-id-255 form p#element_avia_0_1 {
    width: 60% !important;
    left: 20%;
}
strong, b {
    font-weight: bold;
    color: black !important;
}
.av-mailchimp-widget.av-mailchimp-widget-style- .first_form {
    width: 55% !important;
    top: 0px !important;
    left: 0px !important;
}
@media only screen and (max-width: 767px) {
#my-account-menu.position-left {
    padding-right: 15px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
}
.av-parallax-inner.av-parallax-woo {
    height: 200px !important;
}
.u-column2.col-2 {
    float: left !important;
    width: 100%;
    padding: 0px 0px;
}
div#customer_login {
    float: left !important;
    width: 100%;
    padding: 30px 25px 0px 25px;
}}
@media only screen and (max-width: 475px) {
#my-account-menu {
    float: left !important;
    padding: 0px !important;
}
.av-parallax-inner.av-parallax-woo {
    height: 200px !important;
}}
#my-account-menu .myaccount-menu li a {
    text-align: center !important;
    padding: 12px 6px !important;
}
.cart-collaterals .wcppec-checkout-buttons.woo_pp_cart_buttons_div:before {
    content: '-or-';
display: none;
}
@media only screen and (max-width: 767px) {
.woocommerce-message {
    width: 100% !important;
    display: block;
    min-height: 87px;
    margin: 0px !important;
    float: left;
    text-align: center;
    font-size: 15px;
}
td.product-subtotal {
    padding: 0px 20px 0px 0px !important;
    text-align: left;
}
.cart_totals h2 {
        text-align: left;
    padding-bottom: 20px;
    margin-top: -17px;
    font-size: 16px;
}
.responsive table.shop_table .product-thumbnail {
    display: table-cell !important;
    width: 30%;
    text-align: center;
}
tr.woocommerce-cart-form__cart-item.cart_item .quantity {
    border: 0px solid #e1e1e1 !important;
}
.wp-video {
    width: 457px !important;
}
#top div.woocommerce-message {
    background-color: transparent;
    color: black;
    padding: 20px 20px !important;
    text-align: center;
}
.responsive #top .col2-set .col-1, .responsive #top .col2-set .col-2, .responsive .cart-collaterals .shipping_calculator {
    width: 100% !important;
    float: none;
    margin-bottom: 20px;
}
.post-entry-390 .col-2 {
    top: -30px;
}
h3#ship-to-different-address {
    margin-left: -4px;
}
.single_variation_wrap .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled .quantity input.plus, .quantity input.minus {
        border: 0px solid #e1e1e1 !important;
}
.single_variation_wrap .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled .quantity input[type="text"] {
    border: 0px solid #e1e1e1 !important;
    font-size: 14px !important;
}
.single_variation_wrap .quantity {
    width: 100%;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}
#top .main_color .input-text {
    color: #343434 !important;
}
.single_variation_wrap .minus {
    float: left !important;
}
.single_variation_wrap .plus {
    float: right !important;
}
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled .quantity input[type="text"]  {
border-top: 1px solid #000 !important;
border-bottom: 1px solid #000 !important;
border-left: 0px solid #000 !important;
border-right: 0px solid #000 !important;
}
.woocs_auto_switcher {
    z-index: 100 !important;
}}
@media only screen and (max-width: 457px) {
.woocommerce-message {
    width: 100% !important;
    display: block;
    min-height: 120px;
    margin: 0px !important;
    float: left;
    text-align: center;
    font-size: 13px;
}
.wp-video {
    width: 389px !important;
}
#top div div.woocommerce-message a.button {
    text-decoration: none;
    width: 20%;
    min-width: 120px;
    text-align: center !important;
    float: left;
    top: 90px;
    left: 33%;
}}
#sb_instagram #sbi_load, #sb_instagram .sb_instagram_error {
    margin-top: 16px;
    padding-bottom: 30px;
}
@media only screen and (max-width: 389px) {
.wp-video {
    width: 300px !important;
}}
.main_color tr:nth-child(even), .main_color .pricing-table>li:nth-child(even), #top .main_color .avia-data-table.avia_pricing_minimal td {
    color: #000;
}
.wpmenucart-icon-shopping-cart-0:before {
    content: "\f290";
}
li#menu-item-1813 span {
    display: none;
}
.menu-item i._mi {
    width: auto;
    height: auto;
    margin-top: -.265em;
    font-size: 0.9em;
    line-height: 1;
}
li#menu-item-1813 {
    margin-right: -14px;
    margin-top: 0px;
}
a.cart_dropdown_link {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}
.woocommerce-form-coupon-toggle {
    margin-top: 10px;
}
#top div form .form-row input.input-text {
    font-family: inherit;
    font-size: 13px;
    color: black !important;
}
p#billing_postcode_field {
    float: right;
    width: 47%;
    display: inline-block;
}
p#billing_city_field {
    float: left;
    width: 47%;
    display: inline-block;
}
form.checkout.woocommerce-checkout .col-1 {
    padding-top: 10px !important;
}
.u-column2.col-2 h2 {
    font-size: 18px;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}
.woocs_auto_switcher.right {
    right: -37px !important;
}
.woocs_auto_switcher ul li.woocs_auto_bg_woocs_curr_curr {
    background: cadetblue !important;
}
@media only screen and (max-width: 767px) and (min-width: 457px) {
.container {
    padding: 0px 0px !important;
}
.responsive table.shop_table .product-thumbnail {
    display: table-cell !important;
    width: 15%;
    text-align: center;
}}
@media only screen and (max-width: 475px) {
.responsive table.shop_table.cart .product-name {
    display: table-cell;
    padding: 3px 0 3px 3px;
    width: 100%;
text-align: left;
}
td.product-name {
    display: table-cell;
    padding: 3px 0 3px 3px;
    width: 100%;
text-align: left;
}
tr.woocommerce-cart-form__cart-item.cart_item td {
    font-size: 12px !important;
}
td.product-quantity {
    min-width: 70px;
}
.responsive table.shop_table {
    display: table;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
}}
a.woocs_auto_switcher_link.woocs_curr_curr {
    visibility: hidden;
}
a.woocs_auto_switcher_link.woocs_curr_curr span {
    visibility: visible;
}
a.woocs_auto_switcher_link {
    visibility: hidden;
}
a.woocs_auto_switcher_link span {
    visibility: visible;
}
form.woocommerce-currency-switcher-form {
    padding-top: 20px;
}
small.dd-selected-description.dd-desc.dd-selected-description-truncated {
    display: none;
}
small.dd-option-description.dd-desc {
    display: none;
}
#top .cart-collaterals .cart_totals table select, #top.woocommerce-page select {
    width: 100%; 
}
#top .main_color select {
    color: #000;
}
@media only screen and (max-width: 767px) {
th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-actions {
    visibility: hidden;
}
th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-total {
    visibility: hidden;
}
tr.woocommerce-orders-table__row.woocommerce-orders-table__row--status-cancelled.order td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-total {
    visibility: hidden;
}
tr.woocommerce-orders-table__row.woocommerce-orders-table__row--status-cancelled.order td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions {
    visibility: hidden;
}
li#li-comment-5:before {
    display: none;
}
div #reviews #comments ol.commentlist li .avatar {
    display: none;
}
ol.commentlist {
    margin-top: -32px !important;
}}
div.swatchinput {
    display: inline-block;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 2px;
}
.form-row.form-row-first.login-checkout {
    display: none;
}
.oneall_social_login div#branding {
    visibility: hidden !important;
display: none !important;
} 
.hide-pby {
    padding-bottom: 25px;
}
tr.woocommerce-cart-form__cart-item.cart_item td {
    border: 0px solid !important;
}
.woocommerce-cart-form__contents {
    border: 0px solid !important;
}
tr.woocommerce-cart-form__cart-item.cart_item {
    border: 1px solid #e1e1e1;
}
form.woocommerce-cart-form th {
    text-align: left;
    border-width: 0px !important;
}
table.shop_table {
    text-align: center !important;
}
td.product-name {
    text-align: left;
}
td.product-name {
padding: 0px 0px 0px 10px !important;
}
th.product-quantity {
    text-align: center;
}
@media only screen and (max-width: 475px) {
td.product-subtotal {
    padding: 0px 0px 0px 0px !important;
}
td.product-remove {
    padding: 0px 0px 0px 12px !important;
}
td.product-thumbnail {
    padding: 0px 0px !important;
    width: 30% !important;
}}
.shop_table ul#shipping_method li, .cart_totals ul#shipping_method li {
    margin-left: 0;
    text-align: center !important;
}
th.product-quantity {
    text-align: center !important;
}
@media only screen and (max-width: 767px) {
td.product-name {
    padding: 0px 0px 0px 3px !important;
}}
#scroll-top-link {
    right: 15px;
    bottom: 100px;
}
.fb_dialog.fb_dialog_mobile.fb_customer_chat_bubble_animated_no_badge.fb_customer_chat_bubble_pop_in {
    right: 15px !important;
}
table.shop_table.woocommerce-checkout-review-order-table th.product-total {
    text-align: center;
}
.woocommerce-billing-fields h3 {
    margin-left: -3px;
}
#top div form .form-row input.input-text, #top div #content .form-row input.input-text, #top div form .form-row textarea, #top div #content .form-row textarea {
    padding: 12px 6px;
}
.woocommerce-billing-fields__field-wrapper label {
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 13px !important;
    padding-bottom: 10px;
}
.woocommerce-form-coupon-toggle .woocommerce-info {
    background-color: #c74db3;
color: black;
font-weight: 600;
}
a.showcoupon {
    color: white;
text-decoration: underline;
font-weight: 400 !important;
}
a.showcoupon:hover {
    color: white;
text-decoration: underline;
font-weight: 400 !important;
}
.select2-container .select2-selection--single {
    height: 45px;
    margin: 0px 0 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px;
}
.select2-container--default .select2-selection--single {
    border-radius: 2px;
}
.product-type-simple {
    top: -1px;
}
div #reviews #comments ol.commentlist li .comment-text {
    border-style: solid;
    border-width: 0px !important;
}
#reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 1em;
}
.avatar {
    display: none;
}
.comment-text {
    margin: 0px 0px 0px 0px  !important;
    padding: 11px 0px 0px !important;
}
h2.woocommerce-Reviews-title {
    color: #c74db3;
}
a.woocommerce-review-link {
    font-size: 13px !important;
top: -4px;
}
input.button {
    font: 13px !important;
}
#top div.product .woocommerce-tabs {
    padding: 0px 0 0 0 !important;
}
div#tab-description p {
padding: 20px 18px 0px 18px;
}
section.related.products h2 {
    text-align: center;
}
#top .product_column_4 .products .product {
    margin: 0px 5px;
    display: inline-block;
    width: 25%;
    float: none;
}
ul.products.columns-4 {
    text-align: center;
}
div#tab-description h2 {
text-align: center;
padding-bottom: 15px;
padding-top: 10px;
font-size: 16px !important;
font-weight: bold !important;
}
div#tab-description .wp-video {
    float: none !important;
    text-align: center !important;
    width: 70% !important;
    margin-left: 14.5% !important;
    display: block;
}
li#tab-title-reviews a.no-scroll {
    color: #111;
}
li#tab-title-description a.no-scroll {
    color: black;
}
li#tab-title-additional_information a.no-scroll {
    color: black;
}
li#tab-title-additional_information {
    display: none;
}
@media only screen and (max-width: 475px) {
div#tab-description .wp-video {
    float: none !important;
    text-align: center !important;
    width: 100% !important;
    margin-left: 0% !important;
    display: block;
}
div#tab-description p {
padding: 10px 0px 0px 0px !important;
}
.entry-summary .woocommerce-product-rating .star-rating {
float: none !important;
margin-right: 0px !important;
display: inline-block !important;
}
.woocommerce-product-rating {
    padding-top: 5px;
}
div#product-415 .attribute-swatch {
    margin-left: 6% !important;
    display: block;
}
.comment-text .star-rating {
    margin-top: 0px !important;
}}
.woocommerce nav.woocommerce-pagination ul {
  display:inline !important;
  list-style-type: none;	
}
.woocommerce nav.woocommerce-pagination ul li {
  display: inline-block;
  width: 40px;
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}
span.page-numbers {
    margin-top: -6px;
    margin-bottom: 1px;
}
#comments span {
    font-size: 12px;
 color: #111;
    font-weight: 600 !important;
}
span.page-numbers .current {
    font-weight: 600 !important;
 color: black;
}
a.page-numbers {
    color: #535353;
}
div#amazon-comments a {
color: #ce0fad;
    text-decoration: underline;
}
.avia-search-tooltip.avia-tt input#searchsubmit {
    line-height: 11px !important;
    padding-left: 14px !important;
}
@media only screen and (max-width: 989px) {
.html_header_top.html_header_sticky #top #wrap_all #main {
    padding-top: 0px !important;
}}
@media only screen and (max-width: 767px) { 
.html_header_top.html_header_sticky #top #wrap_all #main {
    padding-top: 115px !important;
    margin-left: 0px !important;
    width: 100% !important;
}}
@media only screen and (max-width: 767px) {
.template-shop {
    width: 94%;
    left: 3%;
}
.entry-content p {
    font-size: 14px;
}
.entry-content ol {
    font-size: 14px;
}}
.comment-text .star-rating {
    margin-top: 1px !important;
}
#top #reviews .commentlist span {
    display: table-cell;
}
span.woocommerce-review__dash {
    display: initial !important;
}
#top .fullsize .template-blog .post .entry-content-wrapper {
    width: 90%;
    max-width: 1000px;
}
.single-post header#header {
    display: initial;
}
#top .fullsize .template-blog .big-preview.multi-big {
    margin-bottom: 15px;
    padding: 0;
    width: 80%;
    padding-left: 20%;
}
@media only screen and (max-width: 444px) {
#top .fullsize .template-blog .big-preview.multi-big {
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
    padding-left: 0%;
}}
.template-single-blog .big-preview.single-big {
    display: none;
}
.page-id-390 .woocommerce-privacy-policy-text {
    display: block !important;
    text-align: center;
}
.responsive .container {
width: 1350px;
    min-width: 100%;
}
#top .avia-video .av-click-to-play-overlay .avia_playpause_icon {
transform: scale(0.66);
width: 6.5em;
height: 4em;
border-radius: .5em;
background: rgba(23,35,34,.75);
top: 95%;
left: 13%;
}
.page-id-255 #av_section_2 {
    padding: 0px 27px;
}
.page-id-391 #customer_login {
    padding: 0px 13px;
}
.page-id-2 #main {
    padding-left: 20px;
    padding-right: 20px;
}
#top .avia_playpause_icon::before {
line-height: 62px;
}
li.variable-item {
    padding: 0px !important;
}
.postid-925 .single .variations td {
    width: 66px !important;
    height: 66px !important;
}
.variable-items-wrapper [data-wvstooltip]:before {
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    padding: 6px !important;
    min-width: 60px !important;
    border-radius: 3px;
    background-color: #000;
    background-color: rgba(51,51,51,.9);
    color: #fff;
    content: attr(data-wvstooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
@media only screen and (max-width: 989px) {
.av_minimal_header #header_meta {
    border-bottom: 0px solid #dcdcdc94 !important;
}
div#header_meta {
    background-color: black;
    padding-right: 5px;
padding-left: 5px;
}
.phone-info.with_nav {
    color: white;
}
.fa-shopping-bag:before {
    content: "\e812";
    font-family: 'instant1';
	}}
@media only screen and (min-width: 768px) {
.woocommerce-cart-form__cart-item.cart_item .quantity input.minus {
    width: 30% !important;
}
.woocommerce-cart-form__cart-item.cart_item .quantity input.plus {
    width: 30% !important;
}}
/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */


/*
Mobile Styles
==================================================