			@font-face {
				font-family: 'un';
				font-style: normal;
				src: url('//instantbeauty.eu/wp-content/uploads/useanyfont/190613023056un.eot');
				src: local('un'), url('//instantbeauty.eu/wp-content/uploads/useanyfont/190613023056un.eot') format('embedded-opentype'), url('//instantbeauty.eu/wp-content/uploads/useanyfont/190613023056un.woff') format('woff');
			}
            
            .et_gf_un{background:none !important;font-family:un;text-indent:0 !important;font-size:25px;}
            
		