			@font-face {
				font-family: 'un';
				font-style: normal;
				src: url('//instantbeauty.eu/wp-content/uploads/useanyfont/190613023056un.eot');
				src: local('un'), url('//instantbeauty.eu/wp-content/uploads/useanyfont/190613023056un.eot') format('embedded-opentype'), url('//instantbeauty.eu/wp-content/uploads/useanyfont/190613023056un.woff') format('woff');
			}
            
            .un{font-family: 'un' !important;}
            
						.header_color .sub_menu>ul>li>a, .header_color .sub_menu>div>ul>li>a, .header_color .main_menu ul:first-child > li > a, #top .header_color .main_menu .menu ul .current_page_item > a, #top .header_color .main_menu .menu ul .current-menu-item > a, #top .header_color .sub_menu li ul a{
					font-family: 'un' !important;
				}
		