body.block-editor-page .edit-post-meta-boxes-area #avia_alb_actions {display: none;}
body.block-editor-page .edit-post-header__settings .avia-builder-button {margin: 0 10px 0 3px;padding: 0 12px 2px;font-size: 13px;height: 33px;line-height: 32px;}
body.block-editor-page #avia_alb_actions h2:hover {cursor: pointer;}
body.block-editor-page #avia_builder #postdivrich_wrap_builder_meta {display: none;}
body.block-editor-page.avia-advanced-editor-enabled .edit-post-layout__content .edit-post-visual-editor {display: none;}
body.block-editor-page.avia-advanced-editor-enabled .edit-post-header .edit-post-header-toolbar, body.block-editor-page.avia-advanced-editor-enabled .components-popover {visibility: hidden;}
body.block-editor-page.avia-advanced-editor-enabled #normal-sortables .postbox#avia_builder:first-child {margin-top: 0;width: 100%;}
body.block-editor-page.avia-advanced-editor-enabled #avia_builder #post-body-content {width: 100%;}
body.block-editor-page.avia-advanced-editor-enabled #avia_builder .avia-builder-main-wrap {padding: 55px 0 0 0;width: 100%;}
body.block-editor-page.avia-advanced-editor-enabled .avia-expand-button {}
body.block-editor-page.avia-advanced-editor-enabled .avia-template-save-button-container {bottom: 6px;right: 14px;}
body.block-editor-page #avia_builder #post-body-content {height: 40px;}
body.block-editor-page #avia_builder .avia_inner_shortcode textarea {display: none;}
body.block-editor-page .edit-post-meta-boxes-area #avia_alb_actions .av-metabox-no-editing, body.block-editor-page.avia-advanced-editor-enabled .edit-post-meta-boxes-area #avia_alb_actions .av-metabox-no-editing {display: none;}
body.block-editor-page.avia-edit-permalink .edit-post-layout .editor-block-list__layout, body.block-editor-page.avia-edit-permalink .edit-post-layout .editor-writing-flow__click-redirect {display: none;}
body.block-editor-page.avia-edit-permalink .edit-post-header .edit-post-header-toolbar {visibility: hidden;}
body.block-editor-page.avia-advanced-editor-enabled #poststuff #avia_builder .hndle {box-sizing: content-box;left: -19px;padding: 15px 4px 15px 35px;}
body.block-editor-page.avia-advanced-editor-enabled #poststuff #avia_builder .hndle span {font-size: 20px;font-weight: normal;}
body.block-editor-page.avia-advanced-editor-enabled .edit-post-layout__content .edit-post-visual-editor + .edit-post-layout__metaboxes {border-top: none;margin-top: -10px;}
body.block-editor-page.avia-advanced-editor-enabled #poststuff #avia_builder.postbox .handlediv {height: 55px;}
body.block-editor-page.avia-advanced-editor-enabled .avia_meta_box.avia_meta_box_visual_editor {margin: 32px 0px;}
body.block-editor-page.avia-advanced-editor-enabled .avia_layout_builder, body.block-editor-page.avia-advanced-editor-enabled .avia-controll-bar {box-sizing: border-box;left: 0;}
body.block-editor-page.avia-advanced-editor-enabled .avia-expand-button {display: none;}
body.block-editor-page.avia-advanced-editor-enabled .avia-controll-bar {height: 32px;line-height: 32px;}
body.block-editor-page.avia-advanced-editor-enabled div#titlewrap + .inside {padding: 3px 0;border: none;margin: 0;}
body.block-editor-page.avia-advanced-editor-enabled div#titlewrap + .inside #edit-slug-box {display: none;}
body.block-editor-page.avia-advanced-editor-enabled .avia-hotkey-info {top: 65px;}
body.block-editor-page.avia-advanced-editor-enabled .edit-post-sidebar__panel-tab[data-label="Block"] {display: none;}
body.block-editor-page.avia-advanced-editor-enabled .avia_sorthandle {box-sizing: content-box;}
body.block-editor-page.avia-advanced-editor-enabled #avia_builder > .inside {border: none;}