.wp-block {}
.editor-post-title textarea {font-size: 34px;line-height: 1.1em;margin-bottom: 14px;font-weight: 600;}
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {margin-top: 1.5em;}
p {margin: .85em 0;}
p img {margin: 0;}
p.lead {font-size: 21px;line-height: 27px;}
em {font-style: italic;}
strong, b {font-weight: bold;}
small {font-size: 80%;}
hr {border: solid #ddd;border-width: 1px 0 0;clear: both;margin: 10px 0 30px;height: 0;}
table {width: 100%;padding: 0;margin: 0 0 20px 0;font-size: 13px;}
table caption {padding: 0 0 5px 0;width: auto;font-style: italic;text-align: right;font-size: 12px;}
th {font-weight: bold;letter-spacing: 1.5px;text-transform: uppercase;text-align: left;padding: 9px 12px;border-style: solid;border-width: 1px;border-left: none;border-top: none;}
td {font-size: 13px;padding: 9px 12px;border-style: solid;border-width: 1px;border-left: none;border-top: none;}
tr th:first-child, tr td:first-child {border-left-style: solid;border-left-width: 1px;}
tr:first-child th, tr:first-child td {border-top-style: solid;border-top-width: 1px;}
.wp-block th.nobg {background: none;border-top: 0;}
pre {clear: both;border-style: solid;border-width: 1px;overflow: auto;padding: 2em;line-height: 2em;font-size: 12px;background-image: -webkit-linear-gradient(rgba(0,0,0,.05) 50%,transparent 50%,transparent);background-image: -moz-linear-gradient(rgba(0,0,0,.05) 50%,transparent 50%,transparent);background-image: linear-gradient(rgba(0,0,0,.05) 50%,transparent 50%,transparent);background-size: 100% 4em;font-family: Monaco,"Andale Mono","Courier New",Courier,monospace;-webkit-transition: all ease-in-out .5s;-moz-transition: all ease-in-out .5s;transition: all ease-in-out .5s;margin-bottom: 30px;position: relative;left: 0;text-transform: none;width: 100%;}
code {font-family: Monaco,"Andale Mono","Courier New",Courier,monospace;}
iframe, object, embed {max-width: 100%;}
sup {vertical-align: super;font-size: smaller;}
sub {vertical-align: sub;font-size: smaller;}
.arial-websave {font-family: Arial,Helvetica,Helvetica Neue,HelveticaNeue,Verdana,sans-serif;}
.arial-black-websave {font-family: Arial Black,Arial Bold,Gadget,sans-serif;}
.arial-narrow-websave {font-family: Arial Narrow,Arial,sans-serif;}
.helvetica-websave {font-family: Helvetica,"HelveticaNeue","Helvetica Neue",Arial,Verdana,sans-serif;}
.helvetica-neue-websave {font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;}
.lucida-sans-websave {font-family: "Lucida Sans","Lucida Grande","Lucida Sans Unicode",Helvetica,Helvetica Neue,HelveticaNeue,Arial,sans-serif;}
.tahoma-websave {font-family: Tahoma,Verdana,Segoe,sans-serif;}
.trebuchet-ms-websave {font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;}
.verdana-websave {font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;}
.georgia-websave {font-family: "Georgia","Times New Roman",Times,serif;}
.lucida-bright-websave {font-family: Lucida Bright,Georgia,serif;}
.palatino-websave {font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;}
.times-new-roman-websave {font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;}
.courier-new-websave {font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;}
.lucida-sans-typewriter-websave {font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;}
.copperplate-websave {font-family: Copperplate,Copperplate Gothic Light,fantasy;}
.papyrus-websave {font-family: Papyrus,fantasy;}
.brush-script-mt-websave {font-family: Brush Script MT,cursive;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
#top h1 a, #top h2 a, #top h3 a, #top h4 a, #top h5 a, #top h6 a {font-weight: inherit;text-decoration: none;color: inherit;}
#top h1 strong, #top h2 strong, #top h3 strong, #top h4 strong, #top h5 strong, #top h6 strong {color: inherit;}
h1 {font-size: 34px;line-height: 1.1em;margin-bottom: 14px;}
h2 {font-size: 28px;line-height: 1.1em;margin-bottom: 10px;}
h3 {font-size: 20px;line-height: 1.1em;margin-bottom: 8px;}
h4 {font-size: 18px;line-height: 1.1em;margin-bottom: 4px;}
h5 {font-size: 16px;line-height: 1.1em;}
h6 {font-size: 14px;line-height: 1.1em;}
em {font-style: italic;}
strong, b {font-weight: bold;}
small {font-size: 80%;}
hr {border: solid #ddd;border-width: 1px 0 0;clear: both;margin: 10px 0 30px;height: 0;}
blockquote {border-left-style: solid;border-left-width: 7px;padding-left: 20px;margin-bottom: 1em;margin-right: 1em;font-size: 1.235em;line-height: 1.5em;}
blockquote small, blockquote cite, blockquote small a, blockquote cite a, blockquote a small, blockquote a cite {font-size: 12px;}
.wp-block-heading h1, .wp-block-heading h2 {text-transform: uppercase;letter-spacing: 1px;}
body.post-type-post h1, body.post-type-post h2 {text-transform: none;letter-spacing: 0;}
.editor-post-title__block textarea {font-size: 16px;min-height: 36px;line-height: 2.3em;font-weight: 400;}